<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
@using Database_Test
@using SWEN_344_Bookstore.Database
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <meta name="google-signin-client_id" content="876131665863-pgdcfjbe1efijpq6g3ho8ggj5rqh35af.apps.googleusercontent.com">
</head>

<body>

    @{
        ViewBag.Title = "Catalog";
        Layout = "~/Views/Shared/_Layout.cshtml";
        List<List<String>> info = ViewData["bookInfo"] as List<List<String>>;
        List<String> selectedBook = ViewData["showline"] as List<String>;

        RestAccess remoteAccess = RestAccess.GetInstance();
        SQLite_Database localAccess = SQLite_Database.GetInstance();
    
        if(selectedBook == null)
        {
            selectedBook = new List<String>(){"dummy","dummy","dummy","dummy","dummy","dummy"};
        }
    }
    <div class="logged">
        <h2>Catalog</h2>

        <table class="table table-bordered">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th>
                    @if ((ViewData["usertype"] as String).Equals("admin")) {
                        <button type="button" class="btn btn-primary btn-xs" onclick="location.href='@Url.Action("CreateBook", "Admin")'">Create Book</button><br />
                    }
                </th>
            </tr>
            @foreach (var line in info)
            {
                if (Convert.ToBoolean(line[6]) || (ViewData["usertype"] as String).Equals("admin"))
                {
                <tr>
                    @for (int i = 0; i < 4; i++)
                    {

                        <td>
                            @line[i]
                        </td>

                    }
                    <td>
                        <!--button-->
                        <button type="button" class="btn btn-default btn-xs" id="showmodal" onclick="location.href='@Url.Action("Catalog", "Home", new { showid = line[4] })'">View Book</button>

                    </td>
                </tr>
                }
            }
        </table>
    </div>


    <!-- Modal -->
    @if (Convert.ToBoolean(ViewData["showmodal"]))
    {

        <div class="modal show" id=@("popup") role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="location.href='@Url.Action("Catalog", "Home")'">&times;</button>
                        <h4 class="modal-title">@selectedBook[0]</h4>
                    </div>
                    <div class="modal-body">
                        <h3>Author:</h3>
                        <br />
                        <p>@selectedBook[1]</p>
                        <br />
                        <h3>Description:</h3>
                        <br />
                        <p>@selectedBook[2]</p>
                        <br />
                        <h3>Price:</h3>
                        <br />
                        <p>@selectedBook[3]</p>
                        <br />
                        <h3>Quantity in stock:</h3>
                        <br />
                        <p>@selectedBook[5]</p>
                        <br />
                        <h3>Reviews</h3>
                        <table border="1">
                            @{
                                int ibid = localAccess.GetInventoryBookByRemoteBookID(int.Parse(selectedBook[4])).ibid;
                                var reviews = localAccess.GetReviews(ibid);
                                <div style="overflow: scroll; overflow-x: hidden; height: 170px">
                                    @foreach (var review in reviews) {
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">@review.date</h5>
                                            </div>
                                            <div class="panel-body">
                                                @review.review
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </table>
                    </div>
                    <div class="modal-footer">
                        @if ((ViewData["usertype"] as String).Equals("admin"))
                        {
                        <button type="button" class="btn btn-default btn-xs" id="showmodal" onclick="location.href='@Url.Action("EditBook", "Admin", new { id = selectedBook[4] })'">Edit Book</button>
                        }
@*                        @if (!(ViewData["usertype"] as String).Equals("unknown")) {*@
                            <button type="button" onclick="location.href='@Url.Action("AddToCart", "Home", new { addid = selectedBook[4] })'" class="btn btn-primary">Add to Shopping Cart</button>
@*                        }*@
                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Catalog", "Home")'">Close</button>
                    </div>
                </div>
            </div>
        </div>
        }
    </body>
</html>