<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <meta name="google-signin-client_id" content="876131665863-pgdcfjbe1efijpq6g3ho8ggj5rqh35af.apps.googleusercontent.com">
</head>

<body>

    @{
        ViewBag.Title = "Catalog";
        Layout = "~/Views/Shared/_Layout.cshtml";
        List<List<String>> info = ViewData["bookInfo"] as List<List<String>>;

    }
    <div class="logged" style="display:none">
        <h2>Catalog</h2>
        <table border="1">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th>
                </th>
            </tr>
            @foreach (var line in info)
            {
                <tr>
                    @for (int i = 0; i < 4; i++)
                {
                        <td>
                            @line[i]
                        </td>

                    }
                    <td>
                        <!--button-->
                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=@("#popup_" + line[4])>View Book</button>
                        <!-- Modal -->
                        <div class="modal fade" id=@("popup_" + line[4]) role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">@line[0]</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h6>Author:</h6>
                                        <br />
                                        <p>@line[1]</p>
                                        <br />
                                        <h6>Description</h6>
                                        <br />
                                        <p>@line[2]</p>
                                        <br />
                                        <h6>Price</h6>
                                        <br />
                                        <p>@line[3]</p>
                                        <br />
                                        <h6>Quantity</h6>
                                        <br />
                                        <p>Put Inventory quantity here</p>
                                        <br />
                                        <p>@line[5]</p>
                                        <br />
                                        <h6>Reviews</h6>
                                        <p>Reviews Go Here</p>
                                        <table border="1"> 
                                            @foreach (var review in ViewData[line[4] + "reviews"] as List<SWEN_344_Bookstore.Models.Review>)
                                            {
                                                <tr> 
                                                    <td> @review.review </td>
                                                    <td> @review.date </td>
                                                </tr> 
                                            } 
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/Home/ShoppingCart" class="btn btn-primary">Add to Shopping Cart</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>