@using SWEN_344_Bookstore.Database
@using SWEN_344_Bookstore.Models
@{
    ViewBag.Title = "Home Page";

    RestAccess ra = RestAccess.GetInstance();

    ra.DeleteAllBooks();

    List<Book> books = Book.GetBooks();

}

<br />

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <meta name="google-signin-client_id" content="876131665863-pgdcfjbe1efijpq6g3ho8ggj5rqh35af.apps.googleusercontent.com">
</head>

<body>
    <div class="jumbotron logged" id="home" style="display:none">
        <h1>API Calls</h1>
        <h2>List of API calls:</h2>
        <h3>create_book</h3>
        Here is the call to create a book in the central database:<br />
        Book.createBook(Title, Price, Author, Description)<br />
        it returns the created book's id: @createdBookID
        <br />
        <br />


        <h3>get_book</h3>
        Here we get the book we just created:<br />
        Book.GetBook(createdBookID);<br />
        @Book.GetBook(createdBookID)
        <br />
        <br />

        <h3>get_books</h3>
        Here we get all the books in the database:<br />
        for each book, restAccess.GetBooks();<br />
        @foreach (Book t in ra.GetBooks())
        {
            @t
            <br />
        }
        <br />


        <h3>update_book</h3>
        Lets update the book we created before by defining the author and name.<br />
        Book.UpdateBook(createdBookID, "Knowledge", 35, "BOOKSTITLE", "description")<br />
        it returns:<br />
        @Book.UpdateBook(createdBookID, "Knowledge", 35, "BOOKSTITLE", "description")<br />
        and here is our new book: <br />
        Book.GetBook(createdBookID)<br />
        @Book.GetBook(createdBookID)
        <br />
        <br />

        <h3>delete_last_book</h3>
        Now we will delete the last book that we created:<br />
        restAccess.deleteLastBook();<br />
        <br />

        <h3>get_user_by_id</h3>
        lets get a user by id = 1:<br />
        restAccess.GetUserByID(1);<br />
        @ra.GetUserByID(1)
        <br />
        <br />

        <h3>get_user_by_email</h3>
        lets get a user by email = user@example.com:<br />
        restAccess.GetUserByEmail("user@example.com");<br />
        @ra.GetUserByEmail("user@example.com")
        <br />
        <br />
        @*    <p><a href="." class="btn col-xs-12 btn-primary btn-lg">Book &raquo;</a>*@
        @*    </p>*@
    </div>
</body>