
@using Database_Test
@using SWEN_344_Bookstore.Database
@using SWEN_344_Bookstore.Models

    @{
        ViewBag.Title = "Reciepts";
        Layout = "~/Views/Shared/_Layout.cshtml";
        List<List<String>> info = ViewData["bookInfo"] as List<List<String>>;

        SQLite_Database sd = SQLite_Database.GetInstance();
        RestAccess remoteAccess = RestAccess.GetInstance();

        var UserId = 54;
        List<Transaction> TBooks = sd.GetTransactionsByUserID(UserId);

    }
    <h2>Past Purchases</h2>
    <table class="table table-bordered">
        <tr>
            <th>
                Date Purchased
            </th>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                
            </th>
        </tr>
     
        @foreach (var transaction in TBooks)
        {
            var book = remoteAccess.GetBook(transaction.bookID);
            <tr>
                <td>
                    @transaction.Date
                </td>
                <td>
                    @book.Name
                </td>
                <td>
                    @book.Author
                </td>
                <td>
                    @book.desc
                </td>
                <td>
                    @book.Price
                </td>
                <td>
                    <!--button-->
                    <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target=@("#popup_" + book.BookId)>View Book</button>
                    <!-- Modal -->
                    <div class="modal fade" id=@("popup_" + book.BookId) role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">@book.Name</h4>
                                </div>
                                <div class="modal-body">
                                    <h3>Author:</h3>
                                    <br />
                                    <p>@book.Author</p>
                                    <br />
                                    <h3>Description</h3>
                                    <br />
                                    <p>@book.desc</p>
                                    <br />
                                    <h3>Price</h3>
                                    <br />
                                    <p>@book.Price</p>
                                    <br />
                                    <h3>Review</h3>
                                    <p>Reviews Go Here</p>
                                    <br />
                                    <br />
                                    <h4>@("Write a Review for " + book.Name)</h4>
                                    <form>
                                        <textarea name="review" rows="5" cols="40" placeholder="Write Review" required></textarea>
                                        <input type="submit" value="Publish Review" class="btn btn-primary col-xs-3 col-xs-offset-9" />
                                    </form>
                                </div>            
                                 <div class="modal-footer">
                                     <button type="button" class="btn btn-primary">Post Review</button>
                                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                 </div>
                                    </div>
                                </div>
                            </div>
                </td>
            </tr>
        }
    </table>
